# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.vcxproj.user
Debug/
*.sdf
*.suo
*.opensdf
testCaseCollection.xml
*.ilk
*.pdb
*.exe
*.dll
*.exp
*.lib
*/Test/
*/Obj/
*/Release/
*.orig
*.coverage
*.cso
